@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,900);
@import url(https://fonts.googleapis.com/css?family=Lato:900);

/* COMMON */
body {
    margin: 0 auto;
    background-image: url(img/wood.png);
    font-family: Open Sans;
    font-weight: 300;
    font-size: 12px;
    color: white;
   
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

h1.bread-titel{
    color: white;
    font-size: 146px;
    text-align: center;
    margin: 0;
    padding-top: 66px;
    font-family: 'Playfair Display', serif;
    font-weight:800;
}

a.active {
	font-weight: 900;
	color: black;
}
#start_text h2 {
   font-family: 'Playfair Display', serif;  
    text-align: center;
}
#start_text{
    margin-left: 250px;
    margin-right: 250px;
    
}

/* Headerbilder*/
#bread{
    background-image:url(img/bread.jpg);
    height: 850px;
 
}

.category_header_image_pasta{
    background-image: url(img/pasta_header_img.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.category_header_image_steak{
    background-image: url(img/steak_header_img.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center; 
}

#myrecipe {
  background-image:url(img/bg/faving.jpg);
}

.site-header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px 0 8px 0px;
    z-index: 1;
}
.site-header nav ul li {
    position: relative;
    display: inline-block;
    margin-right: 6px;
}
.site-header nav ul li a {
    margin-left: 24px;
    text-decoration: none;
    color: black;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
    display: block;/*block elements so we can add them padding*/
    padding: 10px 12px;
    border-bottom: none;
    text-decoration: none;
}

.site-header nav ul li a:hover {
    color: #7A7A7A;
}   

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu.item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
    font-weight: bold;
    color: #FFF;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav ul li {
    list-style: none;
    float: left;
}


/* FISH, PASTA and STEAK PAGE & FAVOURITES */
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
    
}

table#t01 tr:nth-child(even) {
    background-color: #696969;
}



/* fish.php pasta.php steak.php */
main.field {
  margin-top: 70px;
  
}






/* CONTAINER */ 

.container {
  position: relative;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 50px;
    margin-left: 30px;
    float: left;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #efefef;
  
}

.container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: #000000;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*BUTTON*/
button a{
    color: black;
}

/*TEXT*/
h1{
      color: white;
    font-size: 146px;
    text-align: center;
    margin: 0;
    padding-top: 66px;
    font-family: 'Playfair Display', serif;
    font-weight:800;
}
h2 {
    text-align: left;
    margin: 0;
    color: white;
    font-size: 30px;
    padding-top: 60px;
}


/*LINK*/
a {
    text-decoration: none;
    color: white;
    
}

/* FOOTER */

footer{
    background-color: dimgray;
    color: white;
    height: 40px;
    text-align: center;
    padding:0;
    display: table;
    width: 100%;
    margin-top: 20px;
}